body {
	font-family: Arial, Helvetica, sans-serif;
}

.center {
	text-align: center;
}

.lockSymbol {
	background-image: url("../img/candado.png");
	background-position: center center;
	background-size: 100% 100%;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 63px;
	width: 16px;
}

header {
	background-color: rgb(204,204,204); /* Gray */
	padding: 2px;
	width: 100%;
	min-width: 1024px;
	height: 23px;
	position: fixed;
	top: 0;
	overflow: hidden;
}

#main {
	overflow: auto;
	position: fixed !important;
	position: absolute;
	top: 27px;
	bottom: 0;
	left: 0;
	right: 0;
}

#log {
	background-color: #DADADA;
	border-top: 2px solid;
	bottom: 0;
	height: 224px;
	overflow: auto;
	padding: 2px;
	position: fixed;
	width: 100%;
}

#log p {
	margin: 0px;
}

#infoServer {
	float: left;
	width: 330px;
	border: solid 1px;
	z-index: 99;
}

#password {
	float: left;
	width: 75px;
	border: solid 1px;
	z-index: 99;
}

.button {
	float: left;
	cursor: pointer;
	z-index: 99;
}

#configShowLog {
	float: left border : solid 1px;
	z-index: 99;
	background-color: rgb(204,204,204); /* Gray */
}

#configShowUnavailable {
	float: left border : solid 1px;
	z-index: 99;
	background-color: rgb(204,204,204); /* Gray */
}

#title {
	font-size: 25px;
	font-weight: bold;
	margin: 16px;
	text-align: center;
}

.cloud {
	border: solid 3px;
	float: left;
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	overflow: hidden;
	background-color: RGB(181,229,249); /* Blue C 290 */
	border-color: RGB(00,110,193); /* Blue C 300 */
}

.cloud .title {
	font-weight: bold;
	text-align: center;
}

.server.active, .server-example.active {
	border-color: RGB(134,200,45); /*Green*/
	background-color: RGB(209,230,183);/*Green 40%*/
}

.server.warning, .server-example.warning {
	border-color: RGB(253,189,44);/*Yellow*/
	background-color: RGB(255,228,183);/*Yellow 40%*/
}

.server, .server-example {
	border: solid 3px;
	border-color: RGB(200,23,94);/*Magenta*/
	background-color: RGB(232,172,190);/*Magenta 40%*/
	float: left;
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	width: 276px;
	overflow: hidden;
}

.server p {
	margin: 5px 2px;
	white-space: nowrap;
	height: 21px;
}

.server p.CON {
	float: right;
	margin-right: 120px;
	margin-top: -26px;
}

.server .key, #leyendHelp .key {
	background-color: rgb(204,204,204); /* Gray */
	border: 1px solid gray;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	width: 40px;
}

.server .value {
	position: absolute;
}

.progressBar {
	text-align: center;
	background-color: RGB(177,215,138); /*Green 65%*/
	border: 1px solid RGB(134,200,45); /*Green*/
	border-radius: 5px 5px 5px 5px;
	height: 21px;
	position: absolute;
	/*width: 220px;*/
}

.MEM .progressBar {
	background-color: RGB(252,187,118); /*Orange 65%*/
	border: 1px solid RGB(246,137,30); /*Orange*/
}

.CPU .progressBar {
	background-color: RGB(253,213,137); /*Yellow 65%*/
	border: 1px solid RGB(253,189,44); /*Yellow*/
}

.BAL .progressBar {
	background-color: RGB(82,188,236); /*Blue C 2915*/
	border: 1px solid RGB(00,158,229); /*Blue C 2925*/
}

.watcher {
	border: solid 3px;
	border-color: RGB(246,137,30); /*Orange*/
	background-color: RGB(254,213,169); /*Orange 40%*/
	float: left;
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	width: auto;
	max-width: 276px;
	overflow: hidden;
	text-align: center;
}

.watcher .ip {
	font-weight: bold;
}

.watcher .ip, .watcher .where {
	display: block;
}

.contextmenu {
	font-size: small;
	position: absolute;
	right: 5px;
	top: 5px;
}

.contextmenu a, #leyendHelp a {
	margin-left: 5px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid;
	border-radius: 5px;
	padding: 1px;
	background-color: RGB(254,213,169); /*Orange 40%*/
	text-decoration: none;
}

.contextmenu a:hover {
	background-color: white;
}

/*HELP*/
.help {
	position: fixed;
	z-index: 99;
	background-color: rgb(247, 212, 218);;
	border: 1px solid;
	border-radius: 5px;
	padding: 2px;
}

.help .arrow {
	background-color: rgb(247, 212, 218);;
	border-left: 1px solid;
	border-top: 1px solid;
	height: 10px;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 10px;
	z-index: 99;
	left: 50%;
	top: -6px;
}

#infoServerHelp {
	top: 28px;
	left: 10px;
}

#refreshButtonHelp {
	top: 28px;
	left: 340px;
}

#addWatcherButtonHelp {
	top: 85px;
	left: 410px;
}

#addHydraButtonHelp {
	top: 28px;
	left: 480px;
}

#lockButtonHelp {
	top: 85px;
	left: 630px;
}

#unlockButtonHelp {
	top: 28px;
	left: 708px;
}

#passwordHelp {
	top: 28px;
	left: 788px;
}

#configShowLogHelp {
	top: 85px;
	left: 800px;
}

#configShowUnavailableHelp {
	top: 28px;
	left: 910px;
}

#configShowConnectionsHelp {
	top: 85px;
	left: 990px;
}

#configShowHelpHelp {
	top:28px;
	left: 1170px;
}

#leyendHelp {
	border: solid 3px;
	position: absolute;
	top: 200px;
	right: 10px;
	width: 500px;
	border-radius: 20px;
	padding: 5px;
	overflow: hidden;
	background-color: rgb(247, 212, 218);
	border-color: rgb(209, 127, 189);
	z-index: 98;
	display: none;
}

#leyendHelp p {
	margin: 4px;
}

.server-example{
	float: none;
	width: auto;
	text-align: center;
}

.server-warning-help {
	border: solid 3px;
	border-color: RGB(253,189,44);/*Yellow*/
	background-color: RGB(255,228,183);/*Yellow 40%*/
}

.server-down-help {
	border: solid 3px;
	border-color: RGB(200,23,94);/*Magenta*/
	background-color: RGB(232,172,190);/*Magenta 40%*/
}

.notes {
	border: 3px solid;
	margin: 10px;
	border-color: rgb(209, 127, 189);
}
