.center {
    text-align: center;
}

#refreshButton {
    position: fixed;
    top: 0px;
    right: 0px;
    font-weight: bold;
    cursor: pointer;
}

#infoServer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
}

#title {
    font-size: 25px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
}

.cloud {
    border: solid 1px;
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    /*
    background-image: url("../img/Simple_Cloud.svg");
    background-position: center center;
    background-size: 100% 100%;
    padding: 50px;
    border: None;
    */
}

.server {
    border: solid 1px;
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 280px;
    overflow: hidden;
}

.server p {
    margin: 5px;
    white-space: nowrap;
}

.server .key {
    display: inline-block;
    width: 50px;
    float: left;
}
