body {
	font-family : Arial, Helvetica, sans-serif ;
}

.center {
    text-align: center;
}

.deleteServer {
    color: red;
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 0;
}

header {
    background-color: rgb(204,204,204);
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 2px;
    width: 100%;
}

#main {
	margin-top: 25px;
	padding-bottom: 25px;
}

footer {
	position: fixed;
	bottom: 0;
	z-index: 99;
	background-color: rgb(204,204,204);
	padding: 2px;
	width: 100%;
}

#infoServer {
    float:left;
    width: 400px;
    border: solid 1px;
    z-index: 99;
}

.button {
    float:left;
    cursor: pointer;
    z-index: 99;
}

#configShowUnavailable {
    float:left
    border: solid 1px;
    z-index: 99;
    background-color: rgb(204,204,204);
}

#title {
    font-size: 25px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
}

.cloud {
    border: solid 3px;
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    background-color: RGB(181,229,249);/*RGB(82,188,236);*/ /*RGB(164,194,244);*/
    border-color: RGB(00,110,193); /*RGB(17,85,204);*/
    /*
    background-image: url("../img/Simple_Cloud.svg");
    background-position: center center;
    background-size: 100% 100%;
    padding: 50px;
    border: None;
    */
}

.cloud .title {
    font-weight: bold;
    text-align: center;
}

.server.active {
    border-color: RGB(134,200,45);/*RGB(56,118,29);*/
    background-color: RGB(209,230,183);/*RGB(182,215,168);*/
}

.server.warning {
    border-color: RGB(253,189,44);/*RGB(192,144,0);*/
    background-color: RGB(255,228,183);/*RGB(255,229,153);*/
}

.server {
	border: solid 3px;
    border-color: RGB(200,23,94);/*RGB(204,0,0);*/
    background-color: RGB(232,172,190);/*RGB(234,153,153);*/
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 276px;
    overflow: hidden;
}

.server p {
    margin: 5px 2px;
    white-space: nowrap;
    height: 21px;
}

.server p.CON {
    float: right;
    margin-right: 120px;
    margin-top: -26px;
}

.server .key, footer .key {
	background-color: rgb(204,204,204);
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}

.server .value {
    position: absolute;
}

footer .value {
    float: left;
    margin-right: 10px;
}

.progressBar {
	text-align: center;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 5px 5px 5px 5px;
    height: 21px;
    position: absolute;
    /*width: 220px;*/
}

.watcher {
    border-color: RGB(192,144,0);
    background-color: RGB(255,229,153);
    
    border: solid 3px;
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: auto;
    max-width: 276px;
    overflow: hidden;
    text-align: center;
}

.watcher .ip {
    font-weight: bold;
}

.watcher .ip, .watcher .where {
    display: block;
}
