body {
	font-family : Arial, Helvetica, sans-serif ;
}

.center {
    text-align: center;
}

.deleteServer {
    color: RGB(200,23,94); /* Magenta */
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 0;
}

header {
    background-color: rgb(204,204,204); /* Gray */
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 2px;
    width: 100%;
}

#main {
	margin-top: 25px;
	padding-bottom: 25px;
}

footer {
	position: fixed;
	bottom: 0;
	z-index: 99;
	background-color: rgb(204,204,204); /* Gray */
	padding: 2px;
	width: 100%;
}

#infoServer {
    float:left;
    width: 400px;
    border: solid 1px;
    z-index: 99;
}

.button {
    float:left;
    cursor: pointer;
    z-index: 99;
}

#configShowUnavailable {
    float:left
    border: solid 1px;
    z-index: 99;
    background-color: rgb(204,204,204); /* Gray */
}

#title {
    font-size: 25px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
}

.cloud {
    border: solid 3px;
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    background-color: RGB(181,229,249); /* Blue C 290 */
    border-color: RGB(00,110,193); /* Blue C 300 */
}

.cloud .title {
    font-weight: bold;
    text-align: center;
}

.server.active {
    border-color: RGB(134,200,45); /*Green*/
    background-color: RGB(209,230,183);/*Green 40%*/
}

.server.warning {
    border-color: RGB(253,189,44);/*Yellow*/
    background-color: RGB(255,228,183);/*Yellow 40%*/
}

.server {
	border: solid 3px;
    border-color: RGB(200,23,94);/*Magenta*/
    background-color: RGB(232,172,190);/*Magenta 40%*/
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 276px;
    overflow: hidden;
}

.server p {
    margin: 5px 2px;
    white-space: nowrap;
    height: 21px;
}

.server p.CON {
    float: right;
    margin-right: 120px;
    margin-top: -26px;
}

.server .key, footer .key {
	background-color: rgb(204,204,204); /* Gray */
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}

.server .value {
    position: absolute;
}

footer .value {
    float: left;
    margin-right: 10px;
}

.progressBar {
	text-align: center;
    background-color: RGB(177,215,138); /*Green 65%*/
    border: 1px solid RGB(134,200,45); /*Green*/
    border-radius: 5px 5px 5px 5px;
    height: 21px;
    position: absolute;
    /*width: 220px;*/
}


.MEM .progressBar {
	background-color: RGB(252,187,118); /*Orange 65%*/
    border: 1px solid RGB(246,137,30); /*Orange*/
}

.CPU .progressBar {
	background-color: RGB(253,213,137); /*Yellow 65%*/
    border: 1px solid RGB(253,189,44); /*Yellow*/
}

.BAL .progressBar {
	background-color: RGB(82,188,236); /*Blue C 2915*/
    border: 1px solid RGB(00,158,229); /*Blue C 2925*/
}

.watcher {
    border: solid 3px;
    border-color: RGB(246,137,30); /*Orange*/
    background-color: RGB(254,213,169); /*Orange 40%*/
    float: left;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: auto;
    max-width: 276px;
    overflow: hidden;
    text-align: center;
}

.watcher .ip {
    font-weight: bold;
}

.watcher .ip, .watcher .where {
    display: block;
}

.contextmenu {
	background-color: white;
    border: 3px solid black;
    position: absolute;
    right: 0;
    top: 0;
}

.contextmenu a {
	display: block;
}
